<div >
    <h2 class="p-3 mb-2 bg-secondary text-white"> <i class="bi bi-envelope"></i> contacts</h2>
  </div>



  <div class="container-fluid">
    <form class="d-inline-flex p-2" role="search">
      <input (input)="serchInEmployees($event)"  class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
    </form>
  </div>



  <table class="table table-bordered" >
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Birthday</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Employee of employees">
        <th scope="row">{{employees.indexOf(Employee) +1}}
          </th>
        <td>{{Employee.name}}</td>
        <td>{{Employee.email}}</td>
        <td>{{Employee.birthday | date:'shortDate'}}</td>
        <td>{{Employee.phone}}</td>
      </tr>
    </tbody>
</table>