<div >
    <h2 class="p-3 mb-2 bg-secondary text-white"> <i class="bi bi-envelope"></i> contacts</h2>
  </div>


  <div>
    <i class="bi bi-search"></i>
    <input type="text" placeholder="search name">
  </div>

  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
    </form>
  </div>



  <table class="table table-bordered" >
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col"> Name</th>
        <th scope="col">Email</th>
        <th scope="col">Birthday</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> #
          <button class="btn btn-light">
            <i class="bi bi-eye"></i>
            </button>
            <button class="btn btn-light">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-light">
              <i class="bi bi-trash"></i>
            </button>
          </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
</table>